@font-face {
  font-family: S-Normal;
  src: url("@/assets/fonts/SVN-Avo.ttf");
}
@font-face {
  font-family: S-Bold;
  src: url("@/assets/fonts/SVN-Avobold.ttf");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background-color: #ececec;
}

body::-webkit-scrollbar-thumb {
  background-color: #dc2626;
  border: 3px solid #ececec;
  border-radius: 30px;
}

body {
  font-family: S-Normal, sans-serif;
}

.heading__primary {
  position: relative;
  z-index: 5;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.75rem;
  color: #dc2626;
}

@keyframes rotating {
  50% {
    transform: rotate(calc(180deg * var(--direction)));
  }
  100% {
    transform: rotate(calc(360deg * var(--direction)));
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opaSlateScale {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 74.9375em) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 61.9375em) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 47.9375em) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 35.9375em) {
  .container {
    max-width: 100%;
  }
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-xl-12 {
  position: relative;
  width: 100%;
}

.col-xl-3 {
  position: relative;
  width: 25%;
}

.col-xl-4 {
  position: relative;
  width: 33.3333333333%;
}

.col-xl-6 {
  position: relative;
  width: 50%;
}

.col-xl-9 {
  position: relative;
  width: 75%;
}

.f-grow-xl-1 {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.f-col {
  flex-direction: column;
}

.gap-xl-12 {
  gap: 1.2rem;
}

.col-xl-none {
  display: none;
}

@media (max-width: 61.9375em) {
  .col-md-bl {
    display: block;
  }
  .col-md-none {
    display: none;
  }
  .f-grow-md-1 {
    flex: 1;
  }
  .gap-md-16 {
    gap: 16px;
  }
}
@media (max-width: 47.9375em) {
  .col-sm-6 {
    position: relative;
    width: 50%;
  }
}
@media (max-width: 35.9375em) {
  .col-xs-6 {
    position: relative;
    width: 50%;
  }
  .col-xs-12 {
    position: relative;
    width: 100%;
  }
}
.header {
  padding: 1rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
  color: #000;
}
.header__role {
  display: inline-block;
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.1rem;
  transform: translateY(-2px);
}
.header__role--admin {
  background-color: #dc2626;
}
.header__role--mod {
  background-color: #0d6efd;
}
.header__info {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.header__avatar {
  width: 50px;
  height: 50px;
}
.header__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.header__light {
  margin-left: auto;
}
.header__security {
  font-family: SVN-Avobold, sans-serif;
}
.header__security h3 {
  font-size: 1.4rem;
}
.header__name {
  color: inherit;
  font-size: 1.5rem;
}
.header__name--admin {
  color: #dc2626;
}
.header__name--mod {
  color: #0d6efd;
}
.header__email {
  margin-top: 0.5rem;
}
.header__image {
  margin-right: 5rem;
}
.header__image img {
  width: 10rem;
  height: 6rem;
  object-fit: contain;
}
.header__list {
  display: flex;
}
.header__nav {
  padding-right: 5rem;
}
@media (max-width: 74.9375em) {
  .header__nav {
    padding-right: 3rem;
  }
}
.header__item {
  padding-inline: 1rem;
}
@media (max-width: 74.9375em) {
  .header__item {
    padding-inline: 0.6rem;
  }
}
.header__search {
  position: relative;
  z-index: 6;
  display: flex;
}
@media (max-width: 74.9375em) {
  .header__search {
    max-width: 210px;
  }
}
.header__wrap {
  min-width: 30rem;
}
@media (max-width: 74.9375em) {
  .header__wrap {
    min-width: 24em;
  }
}
.header__logout {
  position: relative;
  z-index: 2;
}
.header__result {
  --bg-color: #fff;
  --color: #000;
  position: absolute;
  z-index: 6;
  top: calc(100% + 12px);
  left: 0;
  width: 100%;
  min-width: 340px;
  padding-top: 44px;
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: auto;
  transform: scale(0);
  transform-origin: top center;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header__result.active--primary {
  transform: scale(1);
  opacity: 1;
}
.header__result.active--primary .btn__reject {
  transform: translateY(0);
}
.header__result.active--secondary {
  height: 540px;
}
.header__result::-webkit-scrollbar {
  width: 14px;
}
.header__result::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ececec;
}
.header__result::-webkit-scrollbar-thumb {
  background-color: #dc2626;
  border: 3px solid #ececec;
  border-radius: 30px;
}
.header__result .btn__reject {
  background-color: var(--color);
  color: var(--bg-color);
}
.header__noresult.active {
  padding: 0 0 20px 20px;
  font-size: 14px;
  color: var(--color);
}

.footer {
  position: relative;
  padding-top: 60px;
}
.footer__body {
  padding: 12px;
}
.footer__header {
  background-color: #21d191;
}
.footer__main {
  padding: 40px 0;
  color: #000;
  background-color: #ecf0f3;
}
.footer__social {
  display: flex;
  justify-content: end;
}
@media (max-width: 35.9375em) {
  .footer__social {
    justify-content: start;
    padding-block: 16px;
    padding-inline: 12px;
  }
}
.footer__icon {
  position: relative;
  z-index: 5;
  padding: 20px 12px;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 35.9375em) {
  .footer__icon {
    padding: 0 30px 0 0;
    font-size: 20px;
  }
}
.footer--link {
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
}
.footer--link:hover {
  color: #dc2626;
}
.footer__info {
  position: relative;
  z-index: 5;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 61.9375em) {
  .footer__info {
    font-size: 16px;
  }
}
@media (max-width: 35.9375em) {
  .footer__info {
    padding-block: 16px;
    padding-inline: 12px;
  }
}
.footer__title {
  position: relative;
  z-index: 5;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-size: 18px;
  text-transform: uppercase;
}
.footer__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 2px;
  background-color: #dc2626;
}
.footer__desc {
  position: relative;
  z-index: 5;
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 47.9375em) {
  .footer__desc {
    font-size: 14px;
  }
}
@media (max-width: 35.9375em) {
  .footer__desc {
    line-height: 1.7;
  }
}
.footer__list {
  list-style: none;
}
.footer__link {
  position: relative;
  z-index: 5;
  padding-block: 4px;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 47.9375em) {
  .footer__link {
    font-size: 15px;
  }
}
.footer__item {
  position: relative;
  z-index: 5;
  display: flex;
  margin-bottom: 12px;
}
.footer__subicon {
  margin-right: 12px;
  color: inherit;
  font-size: 15px;
}
.footer__subtitle {
  font-size: 16px;
}
@media (max-width: 61.9375em) {
  .footer__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 47.9375em) {
  .footer__subtitle {
    font-size: 14px;
  }
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn__reject {
  position: absolute;
  padding: 0.8rem 0.8rem 0.4rem;
  border-radius: 50%;
  transition: 1s cubic-bezier(0.825, 0.09, 0.085, 1.01);
  transform: translateY(-300px);
}
.btn__reject--primary {
  right: 12px;
  top: 12px;
  background-color: #fff;
  color: #000;
}
.btn__reject--secondary {
  top: 12px;
  right: 12px;
  color: #fff;
  background-color: #000;
}
.btn__reject--secondary.active {
  transform: translateY(0);
}
.btn__reject svg {
  width: 20px;
  height: 20px;
}
.btn__inside {
  position: absolute;
  top: 50%;
  right: 2%;
  width: 2.8rem;
  height: 2.8rem;
  color: #c6c3c3;
  transform: translateY(-50%);
}
.btn__icon {
  position: relative;
  z-index: 2;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  margin: 0 1.2rem;
  border-radius: 50%;
  background-color: #c6c3c3;
  transition: 0.2s;
}
.btn__icon > svg {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}
.btn__icon:hover {
  background-color: #dc2626;
}
.btn__signout {
  border-radius: 0.5rem;
  font-family: SVN-Avobold, sans-serif;
  letter-spacing: 0;
}
.btn__signout--primary {
  margin-left: 1.6rem;
}
.btn__signout--secondary {
  padding: 1.8rem 2.4rem;
  margin-top: 4rem;
}
.btn__slide {
  padding: 14px 12px 16px;
  color: #fff;
  background-color: #dc2626;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.btn__slide span {
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: translateY(3px);
}
@media (max-width: 35.9375em) {
  .btn__slide {
    padding: 13px 12px 14px;
    font-size: 1.2rem;
  }
}
.btn__form {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #0d6efd;
  font-size: 2.2rem;
  font-family: SVN-Avobold, sans-serif;
  letter-spacing: 0.1rem;
}
@media (max-width: 35.9375em) {
  .btn__form {
    font-size: 1.6rem;
  }
}
.btn__menu {
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
  color: #000;
}
.btn__menu.active .line.line--primary {
  transform: translateY(10px);
  opacity: 0;
}
.btn__menu.active .line.line--ternary {
  transform: translateY(-10px);
  opacity: 0;
}
.btn__menu.active .line.line--secondary {
  transform: rotate(58deg);
}
.btn__menu.active .line.line--fourary {
  transform: rotate(-58deg);
}
.btn__menu .line {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: currentColor;
}
.btn__menu .line--primary {
  top: 10px;
  left: 0;
  transition: 0.1s;
}
.btn__menu .line--secondary, .btn__menu .line--fourary {
  top: 22px;
  left: 0;
  transition: 0.2s;
}
.btn__menu .line--ternary {
  top: 34px;
  left: 0;
  transition: 0.1s;
}
.btn__data {
  padding: 14px 12px 16px;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #0d6efd;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.input {
  width: 100%;
  padding: 1.2rem 1.6rem;
  outline: none;
  color: #000;
  font-size: 1.6rem;
}
.input__primary {
  border-radius: 3rem;
  border: 0.1rem solid #c6c3c3;
  transition: all 0.2s;
}
.input__primary:focus {
  border: 0.2rem solid #dc2626;
}
.input::placeholder {
  color: #c6c3c3;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}
.link__primary {
  position: relative;
  z-index: 2;
  padding: 1rem 1.4rem 1.2rem;
  border: 0.2rem solid #c6c3c3;
  border-radius: 3rem;
  transition: all 0.2s;
}
@media (max-width: 74.9375em) {
  .link__primary {
    padding-inline: 1.2rem;
  }
}
.link__primary:hover {
  color: #dc2626;
}
.link__modal {
  color: #fff;
  font-size: 2rem;
  padding-block: 1.6rem;
}
.link__modal:hover {
  color: #dc2626;
  padding-left: 1.6rem;
}
@media (max-width: 35.9375em) {
  .link__modal {
    font-size: 1.6rem;
  }
}
.link__form {
  color: #1ae7a2;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: SVN-Avobold, sans-serif;
}
@media (max-width: 35.9375em) {
  .link__form {
    font-size: 1.5rem;
  }
}

.slide {
  position: relative;
}
.slide__wrap {
  white-space: nowrap;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slide__wrap::-webkit-scrollbar {
  display: none;
}
.slide__item {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  white-space: initial;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
@media (max-width: 47.9375em) {
  .slide__item {
    min-height: 40em;
  }
}
.slide__item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.slide__body {
  position: absolute;
  z-index: 4;
  left: 10rem;
  bottom: 3rem;
}
@media (max-width: 47.9375em) {
  .slide__body {
    left: 5rem;
  }
}
.slide__tag {
  display: inline-block;
  padding: 0.6rem 0.6rem 0.8rem;
  margin-bottom: 3rem;
  color: #dc2626;
  background-color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: SVN-Avobold, sans-serif;
}
@media (max-width: 47.9375em) {
  .slide__tag {
    margin-bottom: 1rem;
  }
}
@media (max-width: 35.9375em) {
  .slide__tag {
    font-size: 1.2rem;
  }
}
.slide__heading {
  max-width: 50rem;
  margin-top: 0;
  margin-bottom: 3rem;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 600;
}
@media (max-width: 47.9375em) {
  .slide__heading {
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 35.9375em) {
  .slide__heading {
    max-width: 30rem;
    font-size: 1.5rem;
  }
}
.slide__desc {
  max-width: 62rem;
  line-height: 1.6;
  margin-bottom: 3rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}
@media (max-width: 47.9375em) {
  .slide__desc {
    max-width: 90%;
    font-size: 1.6rem;
  }
}
@media (max-width: 35.9375em) {
  .slide__desc {
    font-size: 1.3rem;
  }
}
.slide__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #fff;
  transform: translate(-50%, -50%);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 3px #fff;
  background-color: #242540;
  transform: rotate(45deg);
}
.slide__prev, .slide__next {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 3.6rem;
  height: 3.6rem;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 47.9375em) {
  .slide__prev, .slide__next {
    display: none;
  }
}
.slide__prev {
  left: 20px;
}
.slide__next {
  right: 20px;
}

.modal {
  position: fixed;
  inset: 0;
}
.modal--primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal--secondary {
  left: -320px;
  z-index: 5;
  visibility: hidden;
  backdrop-filter: blur(0.4px) brightness(0.7);
  transition: 1s cubic-bezier(0.825, 0.09, 0.085, 1.01);
}
.modal--secondary.active {
  left: 0;
  visibility: visible;
}
.modal--secondary.active .modal__content--secondary .link__modal {
  opacity: 1;
  transform: translateY(0);
}
.modal--secondary.active .modal__content--secondary .btn__reject {
  transform: translateY(0);
}
.modal--secondary.active .modal__content--secondary .btn__signout--secondary {
  transform: translateY(0);
}
.modal__signup, .modal__signin {
  position: relative;
  z-index: 3;
}
.modal__note {
  margin-bottom: 0.8rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  font-family: SVN-Avobold, sans-serif;
  text-align: center;
}
@media (max-width: 61.9375em) {
  .modal__note {
    font-size: 1.6rem;
  }
}
.modal__image {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.modal__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__overlay {
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.modal__content {
  position: relative;
  z-index: 3;
}
.modal__content--primary {
  max-width: 767px;
  min-width: 767px;
  margin: 0 auto;
  padding: 4rem;
  background-color: rgba(125, 63, 152, 0.52);
}
@media (max-width: 61.9375em) {
  .modal__content--primary {
    max-width: 540px;
    min-width: 540px;
    padding: 2rem;
  }
}
@media (max-width: 35.9375em) {
  .modal__content--primary {
    max-width: 320px;
    min-width: 320px;
    padding: 1rem;
  }
}
.modal__content--secondary {
  width: 32rem;
  height: 100%;
  padding: 6rem 2rem;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}
.modal__content--secondary h3 {
  color: #fff;
  margin-bottom: 3rem;
  font-size: 20px;
  font-weight: 500;
}
.modal__content--secondary .link__modal {
  opacity: 0;
  transform: translateY(300px);
  transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1s cubic-bezier(0.825, 0.09, 0.085, 1.01), transform 1s cubic-bezier(0.825, 0.09, 0.085, 1.01), padding 0.2s cubic-bezier(0.825, 0.09, 0.085, 1.01);
}
.modal__content--secondary .btn__signout--secondary {
  transition: 1s cubic-bezier(0.825, 0.09, 0.085, 1.01);
  transform: translateY(300px);
}
.modal__content h1 {
  margin: 0 0 1.6rem;
  color: #fff;
  font-size: 4.2rem;
  font-weight: 600;
  font-family: SVN-Avobold, sans-serif;
  text-align: center;
}
@media (max-width: 61.9375em) {
  .modal__content h1 {
    font-size: 3rem;
  }
}
.modal__form {
  position: relative;
  z-index: 5;
  max-width: 55rem;
  margin: 0 auto;
}
.modal__form .form-wrap {
  position: relative;
}
.modal__form .form-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.modal__form .form-group--primary {
  flex-direction: column;
  margin-bottom: 1.6rem;
}
.modal__form .form-group--secondary {
  align-items: center;
}
.modal__form .form-group .label {
  margin-bottom: 0.8rem;
  color: #fff;
  cursor: pointer;
}
.modal__form .form-group .label--primary {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 61.9375em) {
  .modal__form .form-group .label--primary {
    font-size: 1.5rem;
  }
}
.modal__form .form-group .label--secondary {
  margin-left: 1rem;
  font-size: 1.5rem;
  transform: translateY(3px);
}
@media (max-width: 35.9375em) {
  .modal__form .form-group .label--secondary {
    font-size: 1.2rem;
  }
}
.modal__form .form-group .title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 61.9375em) {
  .modal__form .form-group .title {
    padding-bottom: 24px;
  }
}
@media (max-width: 35.9375em) {
  .modal__form .form-group .title {
    font-size: 1.3rem;
  }
}
.modal__form .form-group .input-primary {
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid transparent;
  outline: none;
  font-size: 1.6rem;
}
.modal__form .form-group .input-primary:focus {
  border-color: #d35400;
}
.modal__form .form-group .input-primary::-webkit-input-placeholder {
  color: #95a5a6;
  font-family: SVN-Avobold, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.modal__form .form-group .input-secondary {
  width: 1.6rem;
  height: 1.6rem;
  accent-color: #dc2626;
}
.modal__form .form-btn {
  margin-top: 1.2rem;
}
.modal__form .form-error {
  margin: 0.6rem 0;
  color: #e74c3c;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: SVN-Avobold, sans-serif;
  text-shadow: 0 0 10px #000;
  letter-spacing: 0.6px;
}
.modal__form .form-icon {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  cursor: pointer;
}
.modal__form .form-icon--primary {
  width: 30px;
  height: 30px;
}
@media (max-width: 35.9375em) {
  .modal__form .form-icon--primary {
    width: 25px;
    height: 25px;
  }
}
.modal__logo {
  position: absolute;
  bottom: 10%;
  right: 2%;
}
.modal__logo img {
  width: 200px;
  height: 200px;
}
.modal__logo--primary {
  animation: 3s infinite alternate image-scale;
}
@keyframes image-scale {
  0% {
    transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(45deg) scale(0.5);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}
@media (max-width: 35.9375em) {
  .modal__logo {
    position: fixed;
    top: 0;
    bottom: initial;
    right: -5%;
  }
}
.modal__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.modal__data h4 {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

.mouse {
  z-index: 1;
  top: 0;
  left: 0;
}
.mouse--primary {
  position: absolute;
}
.mouse--secondary {
  position: fixed;
}
.mouse img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
@media (max-width: 61.9375em) {
  .mouse {
    display: none;
  }
}

.loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}
.loader-body {
  width: 10em;
  height: 10em;
  font-size: 25px;
  box-sizing: border-box;
  border-top: 0.3em solid hotpink;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}
.loader-body span {
  position: absolute;
  color: white;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}
.loader-body::before, .loader-body::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}
.loader-body::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}
.loader-body::after {
  border-top: 0.3em solid gold;
  transform: rotate(240deg);
}

.loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
}
.loading--primary {
  border: 0.4rem solid #fff;
}
.loading--default {
  border-bottom-color: transparent;
}
.loading__body {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  animation: 1s infinite spin;
}

.movie {
  position: relative;
  z-index: 5;
  width: calc(25% - 12px);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 61.9375em) {
  .movie {
    width: calc(33.3333333333% - 16px);
  }
}
@media (max-width: 47.9375em) {
  .movie {
    width: calc(50% - 16px);
  }
}
@media (max-width: 35.9375em) {
  .movie {
    width: calc(100% - 16px);
    margin-bottom: 24px;
  }
}
.movie:hover .movie__body {
  background-image: linear-gradient(to bottom, transparent, #81ecec);
}
.movie__box {
  pointer-events: none;
}
.movie__image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  vertical-align: middle;
}
@media (max-width: 61.9375em) {
  .movie__image img {
    height: 200px;
  }
}
@media (max-width: 35.9375em) {
  .movie__image img {
    height: 300px;
  }
}
.movie__body {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.2rem;
  background-image: linear-gradient(to bottom, transparent, #000);
  transition: all 0.1s;
}
.movie__name {
  margin-block: 0.8rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 74.9375em) {
  .movie__name {
    font-size: 1.4rem;
  }
}
@media (max-width: 35.9375em) {
  .movie__name {
    font-size: 1.6rem;
  }
}
.movie__episode {
  color: #fff;
  font-size: 1.3rem;
}
.movie__view {
  color: #fff;
  font-size: 1.3rem;
}

.manga {
  position: relative;
  z-index: 5;
  width: calc(16.6666666667% - 12px);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 61.9375em) {
  .manga {
    width: calc(33.3333333333% - 16px);
  }
}
@media (max-width: 35.9375em) {
  .manga {
    width: calc(100% - 16px);
    margin-bottom: 24px;
  }
}
.manga:hover .manga__title {
  background-image: linear-gradient(to bottom, transparent, #dc2626);
}
.manga:hover .manga__chapter {
  background-color: #dc2626;
}
.manga__image {
  width: 100%;
}
.manga__image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  vertical-align: middle;
}
.manga__chapter {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px 9px;
  border-radius: 3px;
  color: #fff;
  background-color: black;
  font-size: 14px;
  transition: all 0.1s;
}
.manga__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 12px 12px 12px;
  color: #fff;
  background-image: linear-gradient(to bottom, transparent, #000);
  font-size: 16px;
  transition: all 0.1s;
}
@media (max-width: 35.9375em) {
  .manga__title {
    font-size: 18px;
  }
}

.today {
  position: relative;
  z-index: 5;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.today:hover .today__title {
  background-image: linear-gradient(to bottom, transparent, #dc2626);
}
.today__image {
  width: 100%;
}
.today__image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  vertical-align: middle;
}
@media (max-width: 35.9375em) {
  .today__image img {
    height: 220px;
  }
}
.today__title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1.5;
  padding: 30px 12px 12px 12px;
  color: #fff;
  background-image: linear-gradient(to bottom, transparent, #000);
  font-size: 16px;
  transition: all 0.1s;
}
@media (max-width: 35.9375em) {
  .today__title {
    font-size: 14px;
  }
}
.today__view {
  padding-top: 12px;
  font-size: 13px;
  font-weight: 500;
}
@media (max-width: 35.9375em) {
  .today__view {
    font-size: 12px;
  }
}

.video {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  font-family: "Lacquer", cursive;
}
.video video {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.video-content {
  position: relative;
  z-index: 5;
  color: #fff;
}
.video-title {
  color: #21d191;
  font-size: 30px;
  text-transform: capitalize;
  user-select: none;
}
@media (max-width: 47.9375em) {
  .video-title {
    font-size: 24px;
  }
}
@media (max-width: 35.9375em) {
  .video-title {
    font-size: 18px;
  }
}
.video-contact {
  margin-top: 40px;
  text-align: center;
}

.overide {
  --hide: hidden;
  position: fixed;
  inset: 0;
  z-index: 1000;
  visibility: var(--hide);
}
.overide.active {
  --hide: visible;
}

.action {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}
.action__wrap {
  position: relative;
  display: flex;
  cursor: pointer;
}
.action__top {
  transform: rotate(-90deg);
}
.action__top svg {
  vertical-align: middle;
}
.action__top-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  color: #dc2626;
}
.action__top-effect {
  --rotate: 0deg;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(var(--rotate));
}
.action__top-effect::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dc2626;
  box-shadow: 0 0 10px #dc2626, 0 0 20px #dc2626, 0 0 60px #dc2626, 0 0 60px #dc2626;
}

.playlist {
  --text: #000;
  height: 500px;
  border: 1px solid #c6c3c3;
}
.playlist__title {
  position: relative;
  z-index: 5;
  display: inline-block;
  padding-block: 12px;
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
}
.playlist__title.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dc2626;
}
.playlist__title--primary {
  margin-right: 8px;
}
.playlist__title--secondary {
  cursor: pointer;
}
.playlist__line {
  padding-inline: 12px;
}
.playlist__line--primary {
  border-bottom: 1px solid #c6c3c3;
}
.playlist__wrap--primary {
  width: 74px;
  padding: 6px;
  border-radius: 3px;
  background-color: #e5e7eb;
}
.playlist__episode {
  color: var(--text);
  font-size: 13px;
}
.playlist__play {
  width: 16px;
  height: 16px;
  color: var(--text);
  cursor: pointer;
}

.live {
  --text: #000;
  position: relative;
  z-index: 5;
  padding: 0 12px;
}
.live__title {
  margin: 16px 0 8px;
  color: var(--text);
  font-size: 20px;
  font-weight: 500;
  font-family: SVN-Avobold, sans-serif;
}
.live__view {
  margin-bottom: 12px;
  color: var(--text);
  font-size: 14px;
}
.live__emotion {
  position: relative;
  z-index: 5;
  padding: 6px 12px 8px 30px;
  border-radius: 30px;
  color: #fff;
  background-color: var(--text);
  font-size: 12px;
}
.live__emotion--primary {
  --text: #dc2626;
  margin-right: 12px;
}
.live__emotion--secondary {
  --text: #0f766e;
}
.live__amount {
  display: inline-block;
  padding: 1px 8px 2px;
  border-radius: 30px;
  color: var(--text);
  background-color: #cfe4e2;
  font-size: 10px;
  font-family: SVN-Avobold, sans-serif;
  transform: translateY(-1px);
}
.live__icon {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 20px;
  height: 20px;
  color: #fff;
  animation: 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite opaSlateScale;
  transform: translateY(-50%);
}

.result {
  position: relative;
  z-index: 5;
  display: flex;
  column-gap: 12px;
  padding: 16px;
  cursor: pointer;
}
.result--primary {
  padding-block: 12px;
  padding-inline: 0;
}
.result:hover .result__img img {
  transform: scale(1.1);
}
.result:hover .result__info h4 {
  color: #dc2626;
}
.result__img {
  overflow: hidden;
}
.result__img img {
  width: 120px;
  height: 60px;
  object-fit: cover;
  vertical-align: middle;
  transition: 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.result__info {
  line-height: 1.7;
  color: var(--color);
}
.result__info h4 {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
  font-family: SVN-Avobold, sans-serif;
  transition: 0.2s;
}
.result__info span {
  font-size: 14px;
}

.info {
  --text: #000;
}
.info__img {
  position: relative;
  z-index: 5;
  height: 100%;
}
.info__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.info__body {
  padding-inline: 12px;
}
.info__text {
  position: relative;
  z-index: 5;
  width: 120px;
  font-size: 16px;
  color: var(--text);
}
.info__category {
  position: relative;
  z-index: 5;
  padding: 4px 6px 6px;
  margin-inline: 2px;
  border-radius: 3px;
  color: #fff;
  background-color: #f87171;
  font-size: 12px;
  opacity: 0.9;
}
.info__desc {
  position: relative;
  z-index: 5;
  padding-top: 50px;
  font-size: 16px;
  color: var(--text);
}
.info__wrap--primary {
  padding-top: 16px;
}
.info__tag {
  padding: 6px 8px 8px;
  margin: 4px;
  border-radius: 5px;
  color: #000;
  background-color: #e5e7eb;
  font-size: 13px;
}

.banner {
  margin-top: 20px;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-live {
  padding-top: 4rem;
}

.section-info {
  padding-top: 4rem;
}

/*# sourceMappingURL=main.css.map */
