// COLOR

$color-primary: #dc2626;
$color-primary-light: #0f766e;
$color-primary-normal: #f87171;
$color-primary-dark: #6b0e0e;

$color-secondary-light: #c6c3c3;
$color-secondary-dark: #d35400;

$color-tertiary-light: #0d6efd;
$color-tertiary-normal: #81ecec;
$color-green-light: #198754;
$color-gray-red: #e74c3c;

$color-blue-light: #1ae7a2;
$color-gray-light: #f3f4f6;
$color-gray-dark: #95a5a6;
$color-gray-normal: #e5e7eb;
$color-gray-regular: #cfe4e2;

$color-blue-dark: #242540;

$color-purple-light: rgba(125, 63, 152, 0.52);
$color-black: #000;
$color-white: #fff;
$color-footer-light-primary: #21d191;
$color-footer-light-secondary: #ecf0f3;
$color-footer-dark-primary: #6452ce;
$color-footer-dark-secondary: #1d2331;

// font
$default-font-size: 1.6rem;
