.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  color: $color-black;
  font-size: $default-font-size;
  cursor: pointer;
  &__reject {
    position: absolute;
    padding: 0.8rem 0.8rem 0.4rem;
    border-radius: 50%;
    transition: 1s cubic-bezier(0.825, 0.09, 0.085, 1.01);
    transform: translateY(-300px);
    &--primary {
      right: 12px;
      top: 12px;
      background-color: #fff;
      color: $color-black;
    }
    &--secondary {
      top: 12px;
      right: 12px;
      color: #fff;
      background-color: $color-black;
      &.active {
        transform: translateY(0);
      }
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__inside {
    position: absolute;
    top: 50%;
    right: 2%;
    width: 2.8rem;
    height: 2.8rem;
    color: $color-secondary-light;
    transform: translateY(-50%);
  }
  &__icon {
    position: relative;
    z-index: 2;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    margin: 0 1.2rem;
    border-radius: 50%;
    background-color: $color-secondary-light;
    transition: 0.2s;
    > svg {
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
    }
    &:hover {
      background-color: $color-primary;
    }
  }
  &__signout {
    border-radius: 0.5rem;
    font-family: SVN-Avobold, sans-serif;
    letter-spacing: 0;
    &--primary {
      margin-left: 1.6rem;
    }
    &--secondary {
      padding: 1.8rem 2.4rem;
      margin-top: 4rem;
    }
  }
  &__slide {
    padding: 14px 12px 16px;
    color: #fff;
    background-color: $color-primary;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    span {
      display: inline-block;
      width: 16px;
      height: 16px;
      transform: translateY(3px);
    }
    @include respond(small-phone) {
      padding: 13px 12px 14px;
      font-size: 1.2rem;
    }
  }
  &__form {
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: $color-tertiary-light;
    font-size: 2.2rem;
    font-family: SVN-Avobold, sans-serif;
    letter-spacing: 0.1rem;
    @include respond(small-phone) {
      font-size: 1.6rem;
    }
  }
  &__menu {
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
    color: $color-black;
    &.active {
      .line.line--primary {
        transform: translateY(10px);
        opacity: 0;
      }
      .line.line--ternary {
        transform: translateY(-10px);
        opacity: 0;
      }
      .line.line--secondary {
        transform: rotate(58deg);
      }
      .line.line--fourary {
        transform: rotate(-58deg);
      }
    }

    .line {
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: currentColor;
      &--primary {
        top: 10px;
        left: 0;
        transition: 0.1s;
      }
      &--secondary,
      &--fourary {
        top: 22px;
        left: 0;
        transition: 0.2s;
      }
      &--ternary {
        top: 34px;
        left: 0;
        transition: 0.1s;
      }
    }
  }
  &__data {
    padding: 14px 12px 16px;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: $color-tertiary-light;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
