.input {
  padding: 1.2rem 1.6rem;
  outline: none;
  color: $color-black;
  font-size: $default-font-size;
  &__primary {
    width: 100%;
    border-radius: 3rem;
    border: 0.1rem solid $color-secondary-light;
    transition: all 0.2s;
    &:focus {
      border: 0.2rem solid $color-primary;
    }
  }
  &__secondary {
    position: relative;
    z-index: 5;
    border: 0.1rem solid $color-secondary-light;
    font-size: 15px;
    font-family: SVN-Avobold, sans-serif;
    transition: all 0.2s;
    &:focus + .playlist__text,
    &:not(:placeholder-shown) + .playlist__text {
      top: -29%;
      font-size: 12px;
    }
    &:placeholder-shown {
      border: 0.2rem solid $color-primary;
    }
    &:valid {
      border: 0.2rem solid $color-green-light;
    }
    &:placeholder-shown ~ .playlist__text--secondary::before {
      content: attr(data-empty);
      color: $color-primary;
    }
    &:valid ~ .playlist__text--secondary::before {
      content: attr(data-valid);
      color: $color-green-light;
    }
    &::placeholder {
      letter-spacing: 1px;
    }
  }
  &::placeholder {
    color: $color-secondary-light;
  }
}
