.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: $default-font-size;
  &__primary {
    position: relative;
    z-index: 2;
    padding: 1rem 1.4rem 1.2rem;
    border: 0.2rem solid $color-secondary-light;
    border-radius: 3rem;
    transition: all 0.2s;
    @include respond(desktop) {
      padding-inline: 1.2rem;
    }
    &:hover {
      color: $color-primary;
    }
  }
  &__modal {
    color: #fff;
    font-size: 2rem;
    padding-block: 1.6rem;
    &:hover {
      color: $color-primary;
      padding-left: 1.6rem;
    }
  }
  &__form {
    color: $color-blue-light;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: SVN-Avobold, sans-serif;
    @include respond(small-phone) {
      font-size: 1.5rem;
    }
  }
}
