.modal {
  position: fixed;
  inset: 0;
  &--primary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--secondary {
    left: -320px;
    z-index: 5;
    visibility: hidden;
    backdrop-filter: blur(0.4px) brightness(0.7);
    transition: 1s cubic-bezier(0.825, 0.09, 0.085, 1.01);
    &.active {
      left: 0;
      visibility: visible;
      .modal__content--secondary {
        .link__modal {
          opacity: 1;
          transform: translateY(0);
        }
        .btn__reject {
          transform: translateY(0);
        }
        .btn__signout--secondary {
          transform: translateY(0);
        }
      }
    }
  }
  &__signup,
  &__signin {
    position: relative;
    z-index: 3;
  }
  &__note {
    margin-bottom: 0.8rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-family: SVN-Avobold, sans-serif;
    text-align: center;
    @include respond(tablet) {
      font-size: 1.6rem;
    }
  }
  &__image {
    position: absolute;
    inset: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__overlay {
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &__content {
    position: relative;
    z-index: 3;
    &--primary {
      max-width: 767px;
      min-width: 767px;
      margin: 0 auto;
      padding: 4rem;
      background-color: $color-purple-light;
      @include respond(tablet) {
        max-width: 540px;
        min-width: 540px;
        padding: 2rem;
      }
      @include respond(small-phone) {
        max-width: 320px;
        min-width: 320px;
        padding: 1rem;
      }
    }
    &--secondary {
      width: 32rem;
      height: 100%;
      padding: 6rem 2rem;
      background: linear-gradient(
          to bottom,
          #323232 0%,
          #3f3f3f 40%,
          #1c1c1c 150%
        ),
        linear-gradient(
          to top,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(0, 0, 0, 0.25) 200%
        );
      background-blend-mode: multiply;
      h3 {
        color: #fff;
        margin-bottom: 3rem;
        font-size: 20px;
        font-weight: 500;
      }
      .link__modal {
        opacity: 0;
        transform: translateY(300px);
        transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
          opacity 1s cubic-bezier(0.825, 0.09, 0.085, 1.01),
          transform 1s cubic-bezier(0.825, 0.09, 0.085, 1.01),
          padding 0.2s cubic-bezier(0.825, 0.09, 0.085, 1.01);
      }
      .btn__signout--secondary {
        transition: 1s cubic-bezier(0.825, 0.09, 0.085, 1.01);
        transform: translateY(300px);
      }
    }
    h1 {
      margin: 0 0 1.6rem;
      color: #fff;
      font-size: 4.2rem;
      font-weight: 600;
      font-family: SVN-Avobold, sans-serif;
      text-align: center;
      @include respond(tablet) {
        font-size: 3rem;
      }
    }
  }
  &__form {
    position: relative;
    z-index: 5;
    max-width: 55rem;
    margin: 0 auto;
    .form-wrap {
      position: relative;
    }
    .form-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      &--primary {
        flex-direction: column;
        margin-bottom: 1.6rem;
      }
      &--secondary {
        align-items: center;
      }
      .label {
        margin-bottom: 0.8rem;
        color: #fff;
        cursor: pointer;
        &--primary {
          font-size: 1.8rem;
          letter-spacing: 0.1rem;
          @include respond(tablet) {
            font-size: 1.5rem;
          }
        }
        &--secondary {
          margin-left: 1rem;
          font-size: 1.5rem;
          transform: translateY(3px);
          @include respond(small-phone) {
            font-size: 1.2rem;
          }
        }
      }
      .title {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        @include respond(tablet) {
          padding-bottom: 24px;
        }
        @include respond(small-phone) {
          font-size: 1.3rem;
        }
      }
      .input-primary {
        width: 100%;
        padding: 1.5rem 1rem;
        border-radius: 0.5rem;
        border: 0.2rem solid transparent;
        outline: none;
        font-size: 1.6rem;
        &:focus {
          border-color: $color-secondary-dark;
        }
        &::-webkit-input-placeholder {
          color: $color-gray-dark;
          font-family: SVN-Avobold, sans-serif;
          font-size: 1.5rem;
          letter-spacing: 1px;
        }
      }
      .input-secondary {
        width: 1.6rem;
        height: 1.6rem;
        accent-color: $color-primary;
      }
    }
    .form-btn {
      margin-top: 1.2rem;
    }
    .form-error {
      margin: 0.6rem 0;
      color: $color-gray-red;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: SVN-Avobold, sans-serif;
      text-shadow: 0 0 10px #000;
      letter-spacing: 0.6px;
    }
    .form-icon {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      cursor: pointer;
      &--primary {
        width: 30px;
        height: 30px;
        @include respond(small-phone) {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  &__logo {
    position: absolute;
    bottom: 10%;
    right: 2%;
    img {
      width: 200px;
      height: 200px;
    }
    &--primary {
      animation: 3s infinite alternate image-scale;
      @keyframes image-scale {
        0% {
          transform: rotate(0) scale(0);
        }
        50% {
          transform: rotate(45deg) scale(0.5);
        }
        100% {
          transform: rotate(-45deg) scale(1);
        }
      }
    }
    @include respond(small-phone) {
      position: fixed;
      top: 0;
      bottom: initial;
      right: -5%;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__data {
    h4 {
      margin-bottom: 2rem;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}
