.playlist {
  position: relative;
  z-index: 5;
  --text: #000;
  height: 500px;
  border: 1px solid $color-secondary-light;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ececec;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border: 3px solid #ececec;
    border-radius: 30px;
  }
  @include respond(tablet) {
    margin-top: 20px;
  }
  &__title {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding-block: 12px;
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
    font-family: SVN-Avobold, sans-serif;
    &.active {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
      }
    }
    &--primary {
      margin-right: 8px;
    }
    &--secondary {
      cursor: pointer;
    }
  }
  &__line {
    padding-inline: 12px;
    &--primary {
      border-bottom: 1px solid $color-secondary-light;
    }
    &--secondary {
      display: none;
      padding-top: 20px;
      padding-bottom: 12px;
    }
  }
  &__wrap {
    height: 22px;
    &--primary {
      width: 84px;
      padding: 6px;
      border-radius: 3px;
      background-color: $color-gray-normal;
    }
    &--secondary {
    }
  }
  &__pos {
    position: relative;
    .input__secondary {
      @include respond(small-phone) {
        padding: 1.2rem 4.6rem 1.2rem 1.5rem;
      }
    }
    .btn__slide {
      @include respond(small-phone) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    }
  }
  &__episode {
    color: var(--text);
    font-size: 13px;
  }
  &__play {
    width: 16px;
    height: 16px;
    padding-top: 1px;
    color: var(--text);
    cursor: pointer;
  }
  &__comment {
    position: relative;
    z-index: 5;
    flex-grow: 1;
    padding: 12px;
    font-size: 16px;
    font-family: SVN-Avobold, sans-serif;
    letter-spacing: 0.5px;
  }
  &__list {
    padding: 0;
    margin: 40px 0 0;
    list-style-type: none;
  }
  &__item {
    margin-bottom: 16px;
  }
  &__trash,
  &__top {
    position: relative;
    z-index: 5;
    padding: 10px;
    color: $color-primary;
    font-size: 24px;
    cursor: pointer;
  }
  &__image {
    position: relative;
    z-index: 5;
    img {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      vertical-align: middle;
      object-fit: cover;
    }
  }
  &__subtitle {
    position: relative;
    z-index: 5;
    margin: 0 0 4px;
    color: var(--text);
    font-size: 15px;
    font-family: SVN-Avobold, sans-serif;
    font-weight: 600;
    &--admin {
      color: $color-primary;
    }
    &--mod {
      color: $color-tertiary-light;
    }
  }
  &__role {
    position: relative;
    z-index: 5;
    display: inline-block;
    padding: 0.4rem;
    margin-left: 0.4rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.1rem;
    font-family: SVN-Avobold, sans-serif;
    font-weight: 600;
    transform: translateY(-2px);
    &--admin {
      background-color: $color-primary;
    }
    &--mod {
      background-color: $color-tertiary-light;
    }
  }
  &__desc {
    position: relative;
    z-index: 5;
    width: 240px;
    line-height: 20px;
    margin: 0 0 8px;
    color: var(--text);
    font-size: 14px;
    font-family: SVN-Avobold, sans-serif;
    @include respond(desktop) {
      width: 160px;
    }
    @include respond(tablet) {
      width: 576px;
    }
    @include respond(large-phone) {
      width: 400px;
    }
    @include respond(small-phone) {
      width: 144px;
    }
  }
  &__time {
    position: relative;
    z-index: 5;
    color: var(--text);
    font-size: 12px;
    font-family: SVN-Avobold, sans-serif;
    opacity: 0.7;
    span {
      margin-left: 4px;
    }
  }
  &__text {
    position: absolute;
    z-index: 5;
    font-size: 15px;
    transform: translateY(-50%);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &--primary {
      top: 46%;
      left: 13px;
      color: #928484;
      pointer-events: none;
    }
    &--secondary {
      top: calc(100% + 2px);
      left: 13px;
      right: 0;
      &::before {
        content: "Tada";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: SVN-Avobold, sans-serif;
      }
    }
  }
  &__relate {
    --color: #000;
  }
}
