.slide {
  position: relative;
  &__wrap {
    white-space: nowrap;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    white-space: initial;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    @include respond(large-phone) {
      min-height: 40em;
    }
    &:not(:first-child) {
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  &__body {
    position: absolute;
    z-index: 4;
    left: 10rem;
    bottom: 3rem;
    @include respond(large-phone) {
      left: 5rem;
    }
  }
  &__tag {
    display: inline-block;
    padding: 0.6rem 0.6rem 0.8rem;
    margin: 0 0.6rem 3rem 0;
    color: $color-primary;
    background-color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: SVN-Avobold, sans-serif;
    @include respond(large-phone) {
      margin-bottom: 1rem;
    }
    @include respond(small-phone) {
      font-size: 1.2rem;
    }
  }
  &__heading {
    max-width: 50rem;
    margin-top: 0;
    margin-bottom: 3rem;
    color: #fff;
    font-size: 3.6rem;
    font-weight: 600;
    @include respond(large-phone) {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
    @include respond(small-phone) {
      max-width: 30rem;
      font-size: 1.5rem;
    }
  }
  &__desc {
    max-width: 62rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    @include respond(large-phone) {
      max-width: 90%;
      font-size: 1.6rem;
    }
    @include respond(small-phone) {
      font-size: 1.3rem;
    }
  }
  &__icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: $color-white;
    transform: translate(-50%, -50%);
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 3px #fff;
    background-color: $color-blue-dark;
    transform: rotate(45deg);
  }
  &__prev,
  &__next {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 3.6rem;
    height: 3.6rem;
    transform: translateY(-50%);
    cursor: pointer;
    @include respond(large-phone) {
      display: none;
    }
  }
  &__prev {
    left: 20px;
  }
  &__next {
    right: 20px;
  }
}
