.today {
  position: relative;
  z-index: 5;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    .today__title {
      background-image: linear-gradient(to bottom, transparent, $color-primary);
    }
  }
  &__image {
    width: 100%;
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      vertical-align: middle;
      @include respond(small-phone) {
        height: 220px;
      }
    }
  }
  &__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1.5;
    padding: 30px 12px 12px 12px;
    color: #fff;
    background-image: linear-gradient(to bottom, transparent, $color-black);
    font-size: 16px;
    transition: all 0.1s;
    @include respond(small-phone) {
      font-size: 14px;
    }
  }
  &__view {
    padding-top: 12px;
    font-size: 13px;
    font-weight: 500;
    @include respond(small-phone) {
      font-size: 12px;
    }
  }
}
