.header {
  padding: 1rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
  color: #000;
  &__role {
    display: inline-block;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.1rem;
    transform: translateY(-2px);
    &--admin {
      background-color: $color-primary;
    }
    &--mod {
      background-color: $color-tertiary-light;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__light {
    margin-left: auto;
  }
  &__security {
    font-family: SVN-Avobold, sans-serif;
    h3 {
      font-size: 1.4rem;
    }
  }
  &__name {
    color: inherit;
    font-size: 1.5rem;
    &--admin {
      color: $color-primary;
    }
    &--mod {
      color: $color-tertiary-light;
    }
  }
  &__email {
    margin-top: 0.5rem;
  }
  &__image {
    margin-right: 5rem;
    img {
      width: 10rem;
      height: 6rem;
      object-fit: contain;
    }
  }
  &__list {
    display: flex;
  }
  &__nav {
    padding-right: 5rem;
  }
  &__item {
    padding-inline: 1rem;
  }
  &__search {
    position: relative;
    display: flex;
  }
  &__wrap {
    min-width: 30rem;
  }
}
